<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: green; text-align: center;">
  <img src="../../assets/Logo.png" style="height: 130px; width: 130px;" />

  <h1 style="color: white;">ALERTRAK <span>&#8482;</span></h1>

  <div style="margin: 10%; margin-top: 5%;">
    <ion-item class="noPadding">
      <ion-input type="text" placeholder="email"></ion-input>
    </ion-item>
    <ion-item class="noPadding">
      <ion-input placeholder="password" type="password"></ion-input>
    </ion-item>
    <br />
  </div>
  <div style="text-align: center;">
    <p style="color: white;">Forgot Password?</p>
  </div>
  <div style="text-align: center;">
    <ion-button size="large" disabled="true" style="color: black;">
      Sign In</ion-button
    >
  </div>

  <div style="text-align: center;">
    <p style="color: white;">
      New User? <strong style="color: black;">Sign UP</strong>
    </p>
  </div>

  <div style="text-align: center;">
    <p style="color: white;">
      Enable Touch ID
      <ion-toggle color="light" style="margin-left: 50px;"></ion-toggle>
    </p>
  </div>
</ion-content>
